* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	color: var(--black);
	background: #f5f6f8;
	font-family: 'Noto Sans', 'sans-serif';
}

a {
	color: inherit;
	text-decoration: none;
}

main {
	max-width: 1200px;
}

:root {
	--black: #3b434e;
	--white: white;
	--primary: #7653fc;
	--gray: #a4a4a4;
	--font-family: 'Noto Sans', 'sans-serif';
	--skeleton-color: rgb(178, 182, 176);
	--skeleton-shadow: rgba(0 0 0 / 20%);
}
